.baseTask {
  background-color: #fff;
  border-radius: 35px;
  display: flex;
  height: 50px;
  -webkit-user-drag: none;
  text-decoration: none;
  align-items: center;
  width: 100%;
  transition: 0.3s ease background-color;

  @include hover() {
    background-color: #e5e9eb;
  }

  &__item {
    color: $main;
    font: 400 18px/1em "PT Sans", sans-serif;
    width: 11%;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:first-child {
      padding-left: 15px;
      width: 34%;
    }
  }

  & + & {
    margin-top: 15px;
  }
}
