label.baseInput(:class="{'baseInput--error':errorMessage !== '', 'baseInput--recorded': value || value === 0}")
  input.baseInput__item(:type="type", placeholder="", :name="name", autocomplete="off", @input="onInput", :value="value", ref="input", @change="onChange")
  span.baseInput__placeholder {{ placeholder }}
  slot
  span.baseInput__error(v-if="errorMessage !== ''") {{ errorMessage }}
