.registration
  form.registration__form(@submit.prevent="onSubmit")
      .registration__container
        h1.registration__title Регистрация
        BaseInput.registration__input(type="text" placeholder="Email" name="email" v-model="email" :errorMessage="emailError")
          svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 350 350")
            path(d="M175 171.173c38.914 0 70.463-38.318 70.463-85.586C245.463 38.318 235.105 0 175 0s-70.465 38.318-70.465 85.587c0 47.268 31.549 85.586 70.465 85.586zM41.909 301.853c-.012-2.882-.024-.812 0 0zM308.085 304.104c.038-.789.013-5.474 0 0z")
            path(d="M307.935 298.397c-1.305-82.342-12.059-105.805-94.352-120.657 0 0-11.584 14.761-38.584 14.761s-38.586-14.761-38.586-14.761C55.018 192.43 43.61 215.545 42.11 295.722c-.123 6.547-.18 6.891-.202 6.131.005 1.424.011 4.058.011 8.651 0 0 19.592 39.496 133.08 39.496 113.486 0 133.08-39.496 133.08-39.496 0-2.951.002-5.003.005-6.399-.022.47-.066-.441-.149-5.708z")

        BaseInput.registration__input(type="password" placeholder="Password" name="password" v-model="password" :errorMessage="passwordError")
          svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 486.733 486.733")
            path(d="M403.88 196.563h-9.484v-44.388c0-82.099-65.151-150.681-146.582-152.145-2.225-.04-6.671-.04-8.895 0C157.486 1.494 92.336 70.076 92.336 152.175v44.388h-9.485c-14.616 0-26.538 15.082-26.538 33.709v222.632c0 18.606 11.922 33.829 26.539 33.829H403.88c14.616 0 26.539-15.223 26.539-33.829V230.272c0-18.626-11.922-33.709-26.539-33.709zM273.442 341.362v67.271c0 7.703-6.449 14.222-14.158 14.222H227.45c-7.71 0-14.159-6.519-14.159-14.222v-67.271c-7.477-7.36-11.83-17.537-11.83-28.795 0-21.334 16.491-39.666 37.459-40.513 2.222-.09 6.673-.09 8.895 0 20.968.847 37.459 19.179 37.459 40.513-.002 11.258-4.355 21.435-11.832 28.795zm58.444-144.799H154.847v-44.388c0-48.905 39.744-89.342 88.519-89.342 48.775 0 88.521 40.437 88.521 89.342v44.388z")

        BaseInput.registration__input(type="text" placeholder="Ваше имя" name="name" v-model="name" :errorMessage="nameError")
          svg(viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg')
            path(d='M453.332 426.668H58.668C26.305 426.668 0 400.363 0 368V101.332c0-32.363 26.305-58.664 58.668-58.664h128c8.832 0 16 7.168 16 16s-7.168 16-16 16h-128C43.968 74.668 32 86.633 32 101.332V368c0 14.7 11.969 26.668 26.668 26.668h394.664c14.7 0 26.668-11.969 26.668-26.668V101.332c0-14.7-11.969-26.664-26.668-26.664h-128c-8.832 0-16-7.168-16-16s7.168-16 16-16h128c32.363 0 58.668 26.3 58.668 58.664V368c0 32.363-26.305 58.668-58.668 58.668zm0 0')
            path(d='M304 117.332h-96c-20.586 0-37.332-16.746-37.332-37.332V37.332C170.668 16.746 187.414 0 208 0h96c20.586 0 37.332 16.746 37.332 37.332V80c0 20.586-16.746 37.332-37.332 37.332zM208 32a5.334 5.334 0 00-5.332 5.332V80A5.331 5.331 0 00208 85.332h96A5.331 5.331 0 00309.332 80V37.332A5.334 5.334 0 00304 32zm0 0M160 256c-29.398 0-53.332-23.938-53.332-53.332 0-29.398 23.934-53.336 53.332-53.336s53.332 23.938 53.332 53.336C213.332 232.062 189.398 256 160 256zm0-74.668c-11.754 0-21.332 9.578-21.332 21.336 0 11.754 9.578 21.332 21.332 21.332s21.332-9.578 21.332-21.332c0-11.758-9.578-21.336-21.332-21.336zm0 0M240 362.668c-8.832 0-16-7.168-16-16V336c0-14.7-11.969-26.668-26.668-26.668h-74.664C107.968 309.332 96 321.301 96 336v10.668c0 8.832-7.168 16-16 16s-16-7.168-16-16V336c0-32.363 26.305-58.668 58.668-58.668h74.664C229.695 277.332 256 303.637 256 336v10.668c0 8.832-7.168 16-16 16zm0 0M432 192H314.668c-8.832 0-16-7.168-16-16s7.168-16 16-16H432c8.832 0 16 7.168 16 16s-7.168 16-16 16zm0 0M432 277.332H314.668c-8.832 0-16-7.168-16-16s7.168-16 16-16H432c8.832 0 16 7.168 16 16s-7.168 16-16 16zm0 0M432 362.668H314.668c-8.832 0-16-7.168-16-16s7.168-16 16-16H432c8.832 0 16 7.168 16 16s-7.168 16-16 16zm0 0')


        nuxt-link.registration__button.registration__buttonText(to="/auth") У меня уже есть аккаунт

        BaseButton.registration__button(type="submit", :loading="isLoading") Зарегестрироваться
