.baseButton {
  background-color: transparent;
  color: $white;
  height: 50px;
  border-radius: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
  font: 400 18px/1em "PT Sans", sans-serif;
  text-decoration: none;
  border: none;
  padding: 0 15px;
  transition: 0.3s ease opacity;
  min-width: 150px;
  position: relative;
  user-select: none;
  overflow: hidden;
  z-index: 2;

  @include hover() {
    &::after {
      transform: translateY(-50%);
    }
  }

  &::after {
    background: linear-gradient(to top, $message1, $message2, $message1);
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 200%;
    position: absolute;
    transition: 0.3s ease transform;
    z-index: -1;
  }

  &--simple {
    background-color: $main;
    border: 1px solid #fff;
    transition: 0.3s ease background-color;

    &::after {
      content: none;
    }

    @include hover() {
      background-color: rgba($main, 0.8);
    }
  }

  &__content {
    position: relative;
    transition: 0.3s ease opacity;
    z-index: 1;

    &--loading {
      opacity: 0;
    }
  }

  &__spanner {
    transform: scale(0.5);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.7;
  }
}
