.baseSpinner {
  background-color: $white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 60px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 450;

  &.fade-leave-active,
  &.fade-enter-active {
    transition: opacity 0.3s ease;
  }

  &.fade-enter,
  &.fade-leave-to {
    opacity: 0;
  }

  &--inner {
    background-color: transparent;
    position: absolute;
    height: 100%;
    top: 0;
  }

  &--white {
    .baseSpinner__circ {
      background-color: #fff;
    }
  }

  &__container {
    position: relative;
    height: 54px;
    width: 54px;
  }

  &__circ {
    position: absolute;
    background-color: #000;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    animation-name: bounce_circularG;
    animation-duration: 1.54s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    transform: scale(0.3);

    &:first-child {
      left: 0;
      top: 22px;
      animation-delay: 0.58s;
    }

    &:nth-child(2) {
      left: 5px;
      top: 5px;
      animation-delay: 0.77s;
    }

    &:nth-child(3) {
      top: 0;
      left: 22px;
      animation-delay: 0.96s;
    }

    &:nth-child(4) {
      right: 5px;
      top: 5px;
      animation-delay: 1.15s;
    }

    &:nth-child(5) {
      right: 0;
      top: 22px;
      animation-delay: 1.34s;
    }

    &:nth-child(6) {
      right: 5px;
      bottom: 5px;
      animation-delay: 1.54s;
    }

    &:nth-child(7) {
      left: 22px;
      bottom: 0;
      animation-delay: 1.73s;
    }

    &:nth-child(8) {
      left: 5px;
      bottom: 5px;
      animation-delay: 1.92s;
    }
  }
}

@keyframes bounce_circularG {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.3);
  }
}
