/* stylelint-disable */
html,
body,
#__nuxt,
#__layout {
  min-width: 320px;
  height: 100%;
}

body {
  background-color: #fff;
  font-family: 'Arial', sans-serif;
  color: #000;
}

#__layout {
  & > div:first-child {
    height: 100%;
  }
}

header {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  max-height: calc(100vh - 60px);

  @include mq("tablet") {
    @media (orientation: landscape) {
      height: 100%;
      max-height: none;
    }
  }
}

@import "./container.scss";
@import "./text.scss";

/* stylelint-enable */
