.chatContainer {
  background-color: #fff;
  border-radius: 35px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 30px 15px;

  &__view {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    max-height: calc(100% - 50px);
  }

  &__inner {
    width: 100%;
    padding-bottom: 15px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      height: 15px;
      width: 100%;
      z-index: 10;
    }

    &::before {
      top: 0;
      background: linear-gradient(to bottom, #fff, rgba(#fff, 0) 100%);
    }

    &::after {
      bottom: 15px;
      background: linear-gradient(to top, #fff, rgba(#fff, 0) 100%);
    }
  }

  &__scroll {
    padding: 15px 0;
    max-height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
  }

  &__footer {
    flex-shrink: 0;
    display: flex;
  }

  &__input {
    padding-right: 50px;
    width: 100%;

    svg {
      right: 25px;
      left: auto;
    }
  }
}
